body {
  font-family: Arial;
  margin: 0;
  background:	#e9f6fb

}
/* Header/Logo Title */
#myMap{
  position: relative;
  border: 1px solid #ddd;
  background-color: #ddd;
  width: 50px;
  height: 400px
  }

.center{
  padding: 70px 0;
  text-align: center;
}

.headerButton {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  width: 50%;
  top: 30px;
  border: 2px solid white;
  border-radius: 8px;
  left: 50;
  background-color: #191970
}
.headerButton:hover {
  background-color: #1E90FF;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.mapBorder {
  position: relative;
  padding: 50px;
  border: 2px solid white;
  border-radius: 8px;
  width: 50vw;
  height: 100%;
  left:350px
}
.position{
  position: relative;
  padding: 60%;
  width: 5%;
  height: 500px;
}

.button{
  background-color: navy;
   border: none;
   color: white;
   padding: 20px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 20px;
   font-family: Arial;
   margin: 8px 575px;
   cursor: pointer;
   left: 100;
   border: 3px solid white;
   border-radius: 8px;
}

.button:hover {
  background-color: #1E90FF;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 560px;
    box-sizing: border-box;
    border: white;
    background-color: white;
    color: navy;
    border: 3px solid navy;
    border-radius: 4px;
    width: 20%;
    font-size: 15px;

}

.descriptionText{
  font-size: 20px;
  font-family: Arial;
  margin: 4px 2px;
  text-align: center;
  color: navy;
}
